<ion-header dir="rtl">
  <ion-navbar color="danger">
    <ion-title>
      <img align="right" src="assets/images/icon.png" width="30" style="margin-left: 5px">
      <span color="light">בטחוניסט - הגדרות</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl">
  <ion-item *ngIf="!isLoggedIn" (click)="googleLogin()">
    <ion-icon name="logo-google" item-left></ion-icon>
    התחבר באמצעות Google
  </ion-item>
  <ion-item *ngIf="isLoggedIn">
    <ion-icon name="logo-google" item-left></ion-icon>
    ברוך הבא {{loggedInUser.displayName}}
  </ion-item>
  <ion-item (click)="share()">
    <ion-icon name="share" item-left></ion-icon>
    שתף את האפליקציה

  </ion-item>
  <ion-item>
    <ion-icon name="star" item-left></ion-icon>
    נהנה מהאפליקציה? דרג אותנו!
  </ion-item>
  <ion-item (click)="openDeveloperPage()">
    <ion-icon name="git-branch" item-left></ion-icon>
    פותח ע"י:
    <b>Ydev Applications</b>
  </ion-item>
</ion-content>
