<style>
  #map {
    height: 100%;
    width: 100%;
  }

  .buttonContainer {
    position: absolute;
    z-index: 1000;
    width: 80%;
    left: 0;
    bottom: 0;
    text-align: left;
    margin-bottom: 30px;
  }

  ion-badge {
    margin-right: 5px;
  }

  button {
  }
</style>

<ion-header dir="rtl">
  <ion-navbar color="danger">
    <ion-title>
      <img align="right" src="assets/images/icon.png" width="30" style="margin-left: 5px">
      <span>אזעקה ב</span><span color="danger">{{region}}</span>
      <button style="float:left" ion-button icon-right small (click)="takeShot()">
        <ion-icon name="share"></ion-icon>
        שתף
      </button>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content dir="rtl">
  <div class="buttonContainer">
    <button ion-button (click)="voteProperty('isIntercepted')" round [color]="didVote('isIntercepted')? 'primary' : 'light'">
      נשמע יירוט
      <ion-badge color="danger" *ngIf="alert.metadata.isIntercepted.count>0">{{alert.metadata.isIntercepted.count}}</ion-badge>
    </button>
    <button ion-button (click)="voteProperty('isCasualties')" round [color]="didVote('isCasualties')? 'primary' : 'light'">
      יש נפגעים
      <ion-badge color="danger" *ngIf="alert.metadata.isCasualties.count>0">{{alert.metadata.isCasualties.count}}</ion-badge>
    </button>
    <button ion-button (click)="voteProperty('isDamage')" round [color]="didVote('isDamage')? 'primary' : 'light'">
      נגרם נזק
      <ion-badge color="danger" *ngIf="alert.metadata.isDamage.count>0">{{alert.metadata.isDamage.count}}</ion-badge>
    </button>
    <button ion-button (click)="voteProperty('isTrueAlert')" round [color]="didVote('isTrueAlert')? 'primary' : 'light'">
      אזעקת אמת
      <ion-badge color="danger" *ngIf="alert.metadata.isTrueAlert.count>0">{{alert.metadata.isTrueAlert.count}}</ion-badge>
    </button>
  </div>
  <div id="map" [hidden]="viewChoose!='map'"></div>

</ion-content>
